@page "/"

<div class="card">
  <div class="card-header">
    Welcome to BlazorFront - Pemrograman Front-End 
  </div>
  <div class="card-body">
    <h3 class="card-title">Marcellus Davine Setiawan</h3>
    <h5 class="card-text">72180184</h5>
    <img src="images/20180413_154602-01.jpg" class="rounded float-right img-thumbnail" alt="images" width="304" height="350">
  </div>
</div>
